pagination-controls {
  display: none;
  float: right;
}

/* Style custom pagination */
#custom-pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

#custom-pagination li {
  margin-right: 5px;
}

#custom-pagination li a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
}

#custom-pagination li.active a {
  background-color: #007bff;
  color: #fff;
}

#home {
  min-height: 500px;
}

.search {
  float: left;
}

i.button {
  font-size: 22px;
}

th{
  font-size: 15px;
}

th{
  font-size: 14px;
}

.form-check-input{
  transform: scale(1.3);
}
